<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://m.yahoo.com/w/web/legal/LegalLinks.bp?.intl=FR&amp;.lang=fr</string>
	<string>http://m.yahoo.com/w/web/privacy?.intl=FR&amp;.lang=fr</string>
	<string>http://m.yahoo.com/w/web/legal/copyright?.intl=FR&amp;.lang=fr</string>
</array>
</plist>
